/* ------------------- Import font Poppins -------------------- */   

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

/* ------------------- Regles pour toutes les sections -------------------- */  

    *{ 
        margin : 0;
        padding: 0; /*  */
        box-sizing: border-box;
        font-family: "Poppins";
        
    }  

    #home{
        position: relative;
        background: radial-gradient(rgb(139, 195, 245), #1294b8);
        padding: 0 0 10% 0;
    }

    body {
        position: relative;
    }

/* ------------------- section 1 -------------------- */   
/* ------------------- HEADER -------------------- */ 
/*
    #home_header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5% 0;
        margin: 0 5%;
    }

    #home_header h2{
        width: fit-content;
        font-size: 2.5em;
        color: white;
        font-weight: bold;
        letter-spacing: 0.05em;
        margin-left: 7%;
        flex-grow: 0.2;
        padding: 20px;
    }
  

    #header_nav{
        display: flex;
    }

    

    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width:100%;
    }

    nav div ul{
        display: inline-flex;
        list-style-type: none;
        flex-wrap: wrap;
    }

    nav a{
        color: white;
        text-decoration: none;
        padding: 1em;
        font-size: 1.1em;
    }


    

    /* ------------------- MAIN -------------------- */  
    /*
    #home_container{
        display: flex;
        min-height: 100vh;
        width: 80%;
        /* padding: 50px 10%; *//*
        justify-content: center;
        align-items: center ;
        gap: 20px ;


    }
    
    .text{
        width: 72%;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }


    .input_mail{
        position: relative;
        width: 100%;
        padding: 2px 5px;
        display: inside;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
        position: relative;
    }
    .submit_mail{
        width: 20%;
        padding: 2px 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        position: absolute;
        right: 0;
    }
  

    .svg_image{
        width: 100%;

    }

    #svg{
        height: 100%;
        width: 100%;
        object-fit:  cover;
    }
*/

/* ------------------- section 2 -------------------- */

/*
    #features{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feature_header {
        position: relative;
        top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        width: 40%;
        color: black;
        
    }

    .feature_header h2, h5{
        color: gray;
    }

    .feature_title {
        display: block;
        justify-content: center;
        align-items: center;
        width: fit-content;
    }



    #feature_container{
        display: flex;
        min-height: 100vh;
        padding: 0 15%;
        justify-content: center;
        align-items: center ;
        gap: 20px ;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: radial-gradient(rgb(139, 195, 245), #1294b8);
        width: 300px;
        border-radius: 10px;
        padding: 15px 30px 15px 30px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
        row-gap: 10px;
    }

    .features_logo {
        color:#fff;
        padding: 20px;
    }


*/

